.labelblueheader{
    color:blue !important;
    margin-left:5px; 
    font-family: Arial, Helvetica, sans-serif !important;
}


.labelpurpleheader{
    color: purple !important;
    margin-left:5px; 
    font-family: Arial, Helvetica, sans-serif !important;
}

.labelblackheader{
    color: black;
    margin-left:5px; 
    font-family: Arial, Helvetica, sans-serif !important;
}

.commentsButtons{
    margin-left: 105px;
    display: inline-block;
    position: absolute;    
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    font-style: normal;
    text-align: left;
}

.checklistDisplay{
    margin-left:-40px; 
    color:blue;
}

.help-block {
   margin-right: 0px !important;   
}

/* .ui-dialog.ui-widget .ui-dialog-content {
    padding-bottom: 10.2em !important;

} */