<form [formGroup]="updateStatusForm">
  <div class="ui-g ui-fluid">
    <div class="row col-sm-12 col-md-12 col-lg-12">
      <div class="ui-g-8 form-group modalForm col-sm-12 col-md-12 col-lg-12">
        <div class="ui-g-12">
          <div for="Control" class="labelblueheader">
            <div style="font-size: 13px;font-weight: bold;">Checklist: {{childChecklistName}}</div>
          </div>
        </div>
      </div>
      <div class="ui-g-12 form-group modalForm">
        <div class="ui-g-12">
          <div for="Control" class="labelpurpleheader">
            <small style="font-size: 13px;font-weight: bold;">Frequency: {{frequency}}</small>
          </div>
        </div>
      </div>
      <div class="ui-g-12 form-group modalForm">
        <div class="ui-g-12">
          <div for="Control" class="labelblackheader">
            <small style="font-size: 13px;font-weight: bold;">StartDate: {{startDate}}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p-growl [(value)]="msgs"></p-growl>
    </div>
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2">
        <label for="status" class="control-label">Status</label>
      </div>
      <div class="ui-g-10">
        <app-dropdown [datasource]='status' (selectedItemChange)='this.selectedStatus = $event' [selectedItem]='selectedStatus'></app-dropdown>
      </div>
    </div>
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-2">
        <label for="additionalComments" class="required control-label top-padding">Comments</label>
      </div>
      <div class="ui-g-10 " style="width: 450px">
        <app-input-text-area rowSize='5' (inputTextAreaSelected)='this.additionalComments= $event' [value]='additionalComments' name='additionalComments'></app-input-text-area>
      </div>
    </div>

  </div>

</form>
<div class="row commentsButtons">
  <div *ngIf="isReview === 'review'">
    <app-button label='Save' (click)='updateReview()' [disabled]='disable()' styleClass='button-action'></app-button>
    <app-button label='Clear All' (click)='resetAll()' styleClass='button-cancel'></app-button>
    <app-button label='Cancel' (click)='back()' styleClass='button-cancel'></app-button>
  </div>
  <div *ngIf="isReview !== 'review'">
  <app-button label='Save' (click)='updateStatus()' [disabled]='disable()' styleClass='button-action'></app-button>
  <app-button label='Clear All' (click)='resetAll()' styleClass='button-cancel'></app-button>
  <app-button label='Cancel' (click)='back()' styleClass='button-cancel'></app-button>
  </div>
</div>