<!-- search controls screen display -->

<div class="panel panel-default">

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" style="margin-left: -10px;">
      <app-breadcrumbs [items]='itemsPath' [home]='home'></app-breadcrumbs>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-8 panel panel-default">
      <div class="panel-heading section-padding">
        <h3 class="panel-title " style="font-size: 24px; margin-left: -2px;">Search Controls</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Title Contains</label>
      <app-input (inputTextSelected)='this.titleContains=$event' [value]='titleContains' maxlength="60"></app-input>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Group</label>
      <app-dropdown [datasource]='group' (selectedItemChange)='this.selectedGroup = $event' [selectedItem]='selectedGroup'></app-dropdown>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Department</label>
      <app-dropdown [datasource]='department' (selectedItemChange)='this.selectedDepartment = $event' [selectedItem]='selectedDepartment'></app-dropdown>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Frequency</label>
      <app-dropdown [datasource]='frequency' (selectedItemChange)='this.selectedFrequency = $event' [selectedItem]='selectedFrequency'></app-dropdown>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Any Assigned</label>
      <app-dropdown [datasource]='anyAssigned' (selectedItemChange)='this.selectedAnyAssigned = $event' [selectedItem]='selectedAnyAssigned'></app-dropdown>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Reviewer</label>
      <app-dropdown [datasource]='reviewer' (selectedItemChange)='this.selectedReviewer = $event' [selectedItem]='selectedReviewer'></app-dropdown>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Primary</label>
      <app-dropdown [datasource]='primary' (selectedItemChange)='this.selectedPrimary = $event' [selectedItem]='selectedPrimary'></app-dropdown>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Backup</label>
      <app-dropdown [datasource]='backup' (selectedItemChange)='this.selectedBackup = $event' [selectedItem]='selectedBackup'></app-dropdown>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label for="title" class="control-label">Review Length</label>
      <app-dropdown [datasource]='reviewLength' (selectedItemChange)='this.selectedReviewLength = $event' [selectedItem]='selectedReviewLength'></app-dropdown>
    </div>

    <div class="col-sm-1 col-md-1 col-lg-1" style="padding-right: 0px !important">
      <label style="visibility: hidden;">Review</label>
      <app-input appNumberonly (inputTextSelected)='this.review=$event' [value]='review' maxlength="60"></app-input>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" style="padding-right: 0px !important; padding-left: 0px !important; line-height: 28px;">
        <label style="visibility: hidden;">Review</label>
        <span class="infotext">Hours</span>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Risk</label><br>
      <app-dropdown [datasource]='risk' (selectedItemChange)='this.selectedRisk = $event' [selectedItem]='selectedRisk'></app-dropdown>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Evaluation</label>
      <app-dropdown [datasource]='evaluation' (selectedItemChange)='this.selectedEvaluation = $event' [selectedItem]='selectedEvaluation'></app-dropdown>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label for="title" class="control-label">Control Length</label>
      <app-dropdown [datasource]='controlLength' (selectedItemChange)='this.selectedControlLength = $event' [selectedItem]='selectedControlLength'></app-dropdown>
    </div>

    <div class="col-sm-1 col-md-1 col-lg-1; group" style="padding-right: 0px !important">
      <label style="visibility: hidden;">Control</label>
      <app-input appNumberonly (inputTextSelected)='this.control=$event' [value]='control' maxlength="60"></app-input>
    </div>

    <div class="col-sm-1 col-md-1 col-lg-1" style="padding-right: 0px !important; padding-left: 0px !important; line-height: 28px;">
      <label style="visibility: hidden;">Control</label>
      <span class="infotext">Hours</span>
  </div>

  </div>


  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="title" class="control-label">Status</label>
      <app-dropdown [datasource]='status' (selectedItemChange)='this.selectedStatus = $event' [selectedItem]='selectedStatus'></app-dropdown>
    </div>
  </div>

</div>

<div class="row searchControlButtons">
  <app-button label='Search' (click)="searchControl()" styleClass='button-action'></app-button>
  <app-button label='Clear All' (click)="resetAll()" styleClass='button-cancel'></app-button>
</div> 