<h3 class="panel-title " style="font-size: 24px;color:maroon">My Checklists for: 5/23/2018</h3>
<br>
<p-accordion [multiple]="true">
  <p-accordionTab header="Scheduled">
    <p-table #scd [columns]="colHeaders" [value]="assignedChecklist">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>-->
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="color: white;">
            {{col.header}}
            <p-sortIcon [field]="col.field" style="float: right;"></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="filterable">
          <th *ngFor="let col of columns">
  
            <input pInputText type="text" (input)="scd.filter($event.target.value, col.field, col.filterMatchMode)">
  
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field == 'action'; else elseTemplate">
              <a class="hyperlink" style="text-decoration: underline;">Start Checklist</a>
            </ng-container>
            <ng-template #elseTemplate>
              {{rowData[col.field]}}
            </ng-template>
  
  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <br>
  <p-accordionTab header="In Progress">
    <p-table #scd [columns]="colHeaders" [value]="assignedChecklist">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>-->
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="color: white;">
            {{col.header}}
            <p-sortIcon [field]="col.field" style="float: right;"></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="filterable">
          <th *ngFor="let col of columns">
  
            <input pInputText type="text" (input)="scd.filter($event.target.value, col.field, col.filterMatchMode)">
  
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field == 'action'; else elseTemplate">
                            <a class="hyperlink" style="text-decoration: underline;">Start Checklist</a>
            </ng-container>
            <ng-template #elseTemplate>
              {{rowData[col.field]}}
            </ng-template>
  
  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <br>
  <p-accordionTab header="Follow-Up">
    <p-table #scd [columns]="colHeaders" [value]="assignedChecklist">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>-->
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="color: white;">
            {{col.header}}
            <p-sortIcon [field]="col.field" style="float: right;"></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="filterable">
          <th *ngFor="let col of columns">
  
            <input pInputText type="text" (input)="scd.filter($event.target.value, col.field, col.filterMatchMode)">
  
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field == 'action'; else elseTemplate">
                            <a class="hyperlink" style="text-decoration: underline;">Start Checklist</a>
            </ng-container>
            <ng-template #elseTemplate>
              {{rowData[col.field]}}
            </ng-template>
  
  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <br>
  <p-accordionTab header="Awaiting Manager Review">
    <p-table #scd [columns]="colHeaders" [value]="assignedChecklist">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>-->
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="color: white;">
            {{col.header}}
            <p-sortIcon [field]="col.field" style="float: right;"></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="filterable">
          <th *ngFor="let col of columns">
  
            <input pInputText type="text" (input)="scd.filter($event.target.value, col.field, col.filterMatchMode)">
  
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field == 'action'; else elseTemplate">
                            <a class="hyperlink" style="text-decoration: underline;">Start Checklist</a>
            </ng-container>
            <ng-template #elseTemplate>
              {{rowData[col.field]}}
            </ng-template>
  
  
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
  <br>
  <p-accordionTab header="Closed/Completed">
    <p-table #scd [columns]="colHeaders" [value]="assignedChecklist">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <!--<button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
          <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>-->
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="color: white;">
            {{col.header}}
            <p-sortIcon [field]="col.field" style="float: right;"></p-sortIcon>
          </th>
        </tr>
        <tr *ngIf="filterable">
          <th *ngFor="let col of columns">
  
            <input pInputText type="text" (input)="scd.filter($event.target.value, col.field, col.filterMatchMode)">
  
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field == 'action'; else elseTemplate">
                            <a class="hyperlink" style="text-decoration: underline;">Start Checklist</a>
            </ng-container>
            <ng-template #elseTemplate>
              {{rowData[col.field]}}
            </ng-template>
  
  
          </td>
        </tr>
      </ng-template>
    </p-table>  
  </p-accordionTab>
</p-accordion>