.labelblueheader{
    color:blue !important;
    padding-left:17px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
}


.labelpurpleheader{
    color: purple !important;
    padding-left:17px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
}

.labelblackheader{
    color: #1b1d1f;
    padding-left:17px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
}
.commentsButtons{
    margin-left: -15px;
    margin-top : 10px;
    display: inline-block;
    position: absolute;
    
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    font-style: normal;
    text-align: left;
}

.arrow-color {
    color: black;
    font-weight: initial;
    cursor: pointer;
    font-size: 17px;
    padding-right: 6px;
    margin-left:2px;
}