.gridPadding {
    padding-top: 10px;
    padding-left: 17px !important;
}

.selectedName{
    color: blue;
    font-size: 15px;
    margin-left:6px;
}
.selectedFrequency{
    color: purple;
    font-size: 15px;
    margin-left:6px;
}
.text{
    color: red;
    font-size: 15px;
    text-align:center;
}