<!--   check list screen display  -->
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
      </div>
    </div>
    <div class="row">
      <b>
        <span class="col-sm-2 col-md-2 col-lg-2">
          <a routerLink="addchecklist" routerLinkActive="anchor-underline" [routerLinkActiveOptions]="{exact: true}">Add</a>
        </span>
        <span class="col-sm-2 col-md-2 col-lg-2">
          <a routerLink="checklist" routerLinkActive="anchor-underline">Search Checklist</a>
        </span>
        <span class="col-sm-2 col-md-2 col-lg-2">
          <a routerLink="control" routerLinkActive="anchor-underline">Search Control</a>
        </span>
      </b>
    </div>
  </div>
  <br>
  
  <router-outlet></router-outlet>
  