.saveControl{
    font-weight: bold;
    color: red;
    border-bottom: 3px solid maroon;
    cursor: pointer;
}

/deep/.ui-table .ui-table-thead > tr > th{
    background-color: gray !important;
}

/deep/ .padZero{
    padding-left: 0px !important;
}
.panel-title {
    color: #7e2d40
}

label.required:after {
    content: " *";
    color: red;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    font-style: normal;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}
.addCheckListButtons {
    position: absolute !important;
    background-color: #f5f5f5;
    width: 100%;
    margin-left: -50px;
    padding-left: 20px;
    height: 70px;
    padding-top: 10px;
    bottom: 0;
    padding-left: 30px;
}